<p-menubar [model]="items" class="navbar-items-p py-3 border-none">
    <div></div>
    <ng-template pTemplate="start">
        <img class="logo-small" src='assets/images/shishi.png' alt="Logo">
        <span class="lg:text-2xl font-bold ml-4 cursor-pointer" (click)="scrollToTop()">
            Pablo Coba
        </span>
    </ng-template>
    <!--FIXME !!! CONFIGURAR BIEN LOS MARGENES HORIZONTALES-->
    <!--botón para el dark mode-->
    <ng-template pTemplate="end">
        <p-button 
            [outlined]="true"
            [icon]="isDarkMode ? 'pi pi-sun' : 'pi pi-moon'" 
            [rounded]="true" 
            [text]="true" 
            (click)="toggleDarkMode()" 
            styleClass="mr-3"
            [ariaLabel]="'Cambiar el modo claro/oscuro'">
        </p-button>
        <p-button 
            [label]="(translate.currentLang$ | async) === 'es' ? 'EN' : 'ES'" 
            (onClick)="toggleLanguage()" 
            [outlined]="true" 
            severity="secondary" 
            styleClass="p-button-sm border-round-xl">
            <i class="pi pi-globe mr-1"></i>
        </p-button>
    </ng-template>
</p-menubar>