:host ::ng-deep .p-menubar-desktop {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 10000;
    border: none !important;
    padding-top: 2rem; 
    padding-bottom: 3rem;
    display:flex;
    justify-content: center;
    
    &>.p-menubar-root-list {
        margin-left: auto; 
        margin-right: 0;
    }
    .p-menubar-end{
        margin-left: 0; 
    }
    
}
:host ::ng-deep .navbar-items-p{

        padding-right:19rem !important;
        padding-left:19rem !important;

    }

html:not(.my-app-dark) {

    .p-button.p-button-outlined {

        border-color: var(--p-primary-100) !important; 

        &:hover {
            background-color: var(--p-surface-200); 
        }
    }
}

/* Inicializamos la variable */
:root {
    --social-scale: 0;
}
::ng-deep .nav-social-item {
  /* Forzamos que la transición se aplique al transform */
    transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1) !important;

  /* Usamos la variable que controlamos desde TS */
    transform: scale(var(--social-scale)) !important;
    overflow: hidden;
    &>div>a{max-width:48px;};
    &>div>a>span{font-size:24px};
}

::ng-deep :host .p-menubar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegúrate de que flote sobre todo */
  
  /* Animación suave */
  transition: all 0.3s ease-in-out;
  
  /* Oculto inicialmente */

  transform: translateY(-100%); /* Lo esconde hacia arriba */
  pointer-events: none; /* Evita que se pueda clickear sin querer mientras está invisible */
    margin-left: auto !important;
    margin-right: auto !important;
    justify-content: center !important;
    align-items: center !important;

}

/* Estilo cuando el usuario ya scrolleó */
.menubar-active {

  transform: translateY(0); /* Vuelve a su posición original */
  pointer-events: auto; /* Ya se puede interactuar con él */
}

::ng-deep .p-menubar-end{

    margin-right:auto !important;
    &>img{
        margin-top:.75rem;    
    }
}