:host{

    min-height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 100%;
    @media(min-width:768px){
        min-height: 70vh;      
    }
}

/*Animación sencilla*/
.hero-icons i, img {
    transition: transform 0.1s ease-in-out; 
    cursor:pointer;
}
.hero-icons i:hover, .hero-icons img:hover {
    transform: scale(1.5);
}

/* Tooltip*/
:host ::ng-deep .p-tooltip {
    font-size: 0.8rem;
}

:host ::ng-deep .p-button{
    background-color: rgba(0, 0, 0, .3) !important;
    &:hover{
        transform: scale(1.1);
        background-color: rgba(0, 0, 0, .4) !important;
        transition: .1s ease-in-out;
        border-color: var(--p-primary-color-hover) !important;
    }
}

html:not(.my-app-dark) {

    :host ::ng-deep .p-button.p-button-outlined {
        background-color: transparent !important;
    }
} 

html:not(.my-app-dark) {

    :host .background-logo{
        width:200%;
        position:absolute;
        object-fit: cover;
        height:1000px;
        z-index:-1;
        opacity:.8 !important;
        object-position: center 45%;
    }
} 

.mobile-pad{
    height:8rem;
    @media(min-width:768px){
        height:0px;    
    }
}
.icon-mobile{
    width:2.25rem;
    height:auto;
    font-size:2.25rem;
    display:block;
}
.icon-row{
    i{
        width:1.25rem;
        height:auto;
        font-size:1.25rem;
        display:block;  
    }
}