<div class="mobile-pad"></div>
<div class="flex flex-column align-items-center justify-content-center lg:pb-8 lg:pt-4 lg:mt-7 lg:pr-7 lg:mr-7 mt-5"  [style.transform]="'scale(' + nameScale + ')'">
    <!--titulo-->
    <h1 class="lg:text-7xl text-3xl font-bold m-0 text-primary">Pablo Coba</h1>
    <p class="lg:text-4xl text-md text-600 mt-1">{{ 'SUBTITLE' | translate }}</p>
    <!--botones redes-->
    <div class="flex justify-center gap-4 mb-5">
        <a href="https://github.com/pablocoba" target="_blank" rel="noopener noreferrer" class="no-underline" aria-label="Visitar mi perfil de GitHub">
            <p-button [outlined]="true">
                <div class="flex align-items-center gap-2 font-bold">
                    <i class="pi pi-github" aria-hidden="true"></i> 
                    <span>GitHub</span>
                    <i class="pi pi-arrow-up-right text-xs" aria-hidden="true"></i> 
                </div>
            </p-button>
        </a>

        <a href="https://www.linkedin.com/in/pablocobadev/" target="_blank" rel="noopener noreferrer" class="no-underline" aria-label="Visitar mi perfil de LinkedIn">
            <p-button [outlined]="true">
                <div class="flex align-items-center gap-2 font-bold">
                    <i class="pi pi-linkedin" aria-hidden="true"></i> 
                    <span>LinkedIn</span>
                    <i class="pi pi-arrow-up-right text-xs" aria-hidden="true"></i> 
                </div>
            </p-button>
        </a>
    </div>
    <!--iconos-->
    <div class="hidden hero-icons lg:flex gap-4 lg:text-4xl flex-row justify-content-center align-items-center mt-4">
        <a href="#mainSkills"><img pTooltip="Angular" tooltipPosition="bottom" positionTop="12" [style.width]="'1.85rem'" class=" h-auto mx-auto block" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/></a>
        <i class="devicon-typescript-plain colored" pTooltip="TypeScript" tooltipPosition="bottom" positionTop="12"></i>
        <i class="devicon-java-plain-wordmark" pTooltip="Java" tooltipPosition="bottom" positionTop="12"></i>
        <i class="devicon-spring-original colored" pTooltip="Spring Boot" tooltipPosition="bottom" positionTop="12"></i>
        <i class="devicon-html5-plain-wordmark colored" pTooltip="HTML" tooltipPosition="bottom" positionTop="12"></i>
        <i class="devicon-css3-plain-wordmark colored" pTooltip="CSS" tooltipPosition="bottom" positionTop="12"></i>
        <i class="devicon-mysql-original" pTooltip="MySQL" tooltipPosition="bottom" positionTop="12"></i>
        <i class="devicon-git-plain" pTooltip="Git" tooltipPosition="bottom" positionTop="12"></i>
    </div>
    <!--iconos movil-->
    <div class="lg:hidden hero-icons flex gap-4 lg:text-4xl flex-column justify-content-center align-items-center">
        <div class="flex flex-row gap-3">
            <img pTooltip="Angular" tooltipPosition="bottom" positionTop="12" [style.width]="'2.25rem'" class=" h-auto mx-auto block" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
            <i class="devicon-spring-original colored icon-mobile" pTooltip="Spring Boot" tooltipPosition="bottom" positionTop="12"></i>
        </div>
        <div class="flex flex-row gap-3 icon-row">
            <i class="devicon-typescript-plain colored" pTooltip="TypeScript" tooltipPosition="bottom" positionTop="12"></i>
            <i class="devicon-java-plain-wordmark" pTooltip="Java" tooltipPosition="bottom" positionTop="12"></i>
            <i class="devicon-html5-plain-wordmark colored" pTooltip="HTML" tooltipPosition="bottom" positionTop="12"></i>
            <i class="devicon-css3-plain-wordmark colored" pTooltip="CSS" tooltipPosition="bottom" positionTop="12"></i>
            <i class="devicon-mysql-original" pTooltip="MySQL" tooltipPosition="bottom" positionTop="12"></i>
            <i class="devicon-git-plain" pTooltip="Git" tooltipPosition="bottom" positionTop="12"></i>
        </div>
    </div>
</div>
