<div class="flex flex-column align-items-center justify-content-center pb-8 pt-4">
    <!--titulo-->
    <h1 class="text-7xl font-bold m-0 text-primary">Pablo Coba</h1>
    <p class="text-4xl text-500 mt-1">{{ 'SUBTITLE' | translate }}</p>

    <!--botones redes-->
    <div class="flex justify-center gap-4 mb-5">
        <a href="https://github.com/pablocoba" target="_blank" rel="noopener noreferrer" class="no-underline" aria-label="Visitar mi perfil de GitHub">
            <p-button [outlined]="true">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-github" aria-hidden="true"></i> 
                    <span>GitHub</span>
                    <i class="pi pi-arrow-up-right text-xs" aria-hidden="true"></i> 
                </div>
            </p-button>
        </a>

        <a href="https://www.linkedin.com/in/pablocobadev/" target="_blank" rel="noopener noreferrer" class="no-underline" aria-label="Visitar mi perfil de LinkedIn">
            <p-button [outlined]="true">
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-linkedin" aria-hidden="true"></i> 
                    <span>LinkedIn</span>
                    <i class="pi pi-arrow-up-right text-xs" aria-hidden="true"></i> 
                </div>
            </p-button>
        </a>
    </div>
    <!--iconos-->
    <div class="hero-icons flex gap-4 text-4xl flex-row justify-content-center align-items-center mt-4">
        <img [style.width]="'1.85rem'" class=" h-auto mx-auto block" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
        <i class="devicon-typescript-plain colored"></i>
        <i class="devicon-java-plain-wordmark"></i>
        <i class="devicon-spring-original colored"></i>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <i class="devicon-mysql-original"></i>
        <i class="devicon-git-plain"></i>
    </div>
</div>
