
<div class="m-auto flex flex-column align-items-center justify-content-center layer" [style.opacity]="opacityMain">
    <h2 class="font-highlight lg:text-6xl font-bold m-0 text-primary text-start pb-7">Habilidades principales</h2>
    <div class="flex flex-column md:flex-row justify-center md:mx-8 md:px-8">
        <div class="flex flex-column align-items-center justify-content-center">
            <div class="flex flex-row gap-4">
                <img pTooltip="Angular" tooltipPosition="bottom" positionTop="12" [style.width]="'9rem'" class=" h-auto mx-auto block pb-3" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
                <img pTooltip="Angular" tooltipPosition="bottom" positionTop="12" [style.width]="'9rem'" class=" h-auto mx-auto block pb-3" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/primeng/primeng-original.svg" />
            </div>
            <h2 class="md:text-3xl font-bold m-0 text-primary text-start">Angular y PrimeNG</h2>
            <p class="md:text-xl skill-card text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum natus maxime totam, magni unde, doloremque exercitationem ducimus ut sed dolorum nihil earum debitis voluptatem placeat, ipsa repudiandae. Excepturi, cupiditate asperiores dignissimos, illum nesciunt veritatis vel enim quam ea cum ipsa, quis distinctio corporis quasi nemo cumque magnam atque provident saepe.</p>
        </div>
        <!-- <div class="flex flex-column align-items-center justify-content-center">
            <img pTooltip="Angular" tooltipPosition="bottom" positionTop="12" [style.width]="'9rem'" class=" h-auto mx-auto block pb-3" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/primeng/primeng-original.svg" />
            <h2 class="lg:text-3xl font-bold m-0 text-primary text-start">PrimeNG</h2>
            <p class="lg:text-xl skill-card text-start">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum natus maxime totam, magni unde, doloremque exercitationem ducimus ut sed dolorum nihil earum debitis voluptatem placeat, ipsa repudiandae. Excepturi, cupiditate asperiores dignissimos, illum nesciunt veritatis vel enim quam ea cum ipsa, quis distinctio corporis quasi nemo cumque magnam atque provident saepe.</p>
        </div> -->
        <div class="flex flex-column align-items-center justify-content-center md:mt-0 mt-6">
            <img pTooltip="Angular" tooltipPosition="bottom" positionTop="12" [style.width]="'9rem'" class=" h-auto mx-auto block pb-3" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg" />
            <h2 class="md:text-3xl font-bold m-0 text-primary text-start">Spring Boot</h2>
            <p class="md:text-xl skill-card text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum natus maxime totam, magni unde, doloremque exercitationem ducimus ut sed dolorum nihil earum debitis voluptatem placeat, ipsa repudiandae. Excepturi, cupiditate asperiores dignissimos, illum nesciunt veritatis vel enim quam ea cum ipsa, quis distinctio corporis quasi nemo cumque magnam atque provident saepe.</p>
        </div>
    </div>
</div>
