@import "typography";
@import "primeicons/primeicons.css";

html:not(.my-app-dark) {
    background-color: var(--p-surface-100);
    .p-button.p-button-outlined {
        background-color: rgba(0, 0, 0, 0.02); 
        border-color: black !important; 
        color: black !important;
        &:hover {
            background-color: var(--p-surface-200);
        }
    }
}


html.my-app-dark {
    .p-button.p-button-outlined {
        background-color: transparent;
        border-color: var(--p-primary-400);
        color: var(--p-primary-400);
    }
}

html,body{
    scroll-behavior: smooth;
    overflow-x:hidden;
    position:relative;
}


.logo-small{
    width:72px;
    overflow: hidden !important;
    transform: scale(3.5);
}

.desktop-nav-logo{
    width:72px;
    overflow: hidden !important;
    transform: scale(3.25);
}

html:not(.my-app-dark){
    .desktop-nav-logo{
        filter:invert(100%);
    }
}

.dots-ul .p-menu-list{
    max-width:4rem !important;
    flex-direction: row !important;
    justify-content: space-between !important;
}

.dots-ul{
    min-width:7rem !important;
}